html, body {
	font-family: sans-serif, Arial;
	color: white;
	background-color: black;

	margin: 0;
	padding: 0;
}

main {
	text-align: center;
}

#scoreId {
	font-size: 50vmin;
}

#scoreLeftId {
}

#scoreSeparatorId {
}

#scoreRightId {
}

#timeId {
	font-size: 35vmin;
}

#minutesId {
}

#timeSeparatorId {
}

#secondsId {
}
