html, body {
	font-family: sans-serif, Arial;
	color: white;
	background-color: black;

	margin: 0;
	padding: 0;
}

main {
	text-align: center;
}

#scoreId {
	font-size: 50vmin;
	margin: -3vmin 0vmin;
}

#scoreLeftId {
}

#scoreSeparatorId {
}

#scoreRightId {
}

#timeId {
	font-size: 35vmin;
	margin: -1vmin 0vmin;
}

#minutesId {
}

#timeSeparatorId {
}

#secondsId {
}

#matchTypeId {
	position: absolute;
	left: 1vmin;
	bottom: 1vmin;
}

#logId {
	position: absolute;
	right: 1vmin;
	bottom: 1vmin;
	text-align: right;
}
