* {
	overflow: hidden;
}

html, body, input {
	color: black;
	background-color: white;
}

html, body {
	font-family: sans-serif, Arial;

	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

#teams {}

#teams input, textarea {
	width: 46%;
	height: 2.5em;
	padding: 0px;
	background: none;
	font-size: 5em;
	border: 0px;
	resize: none;
	overflow: hidden;
}

#teamHomeName {
	text-align: right;
}

#teamGuestName {
	text-align: left;
}

#teamSeperator{
	display: inline-block;
	width: 6%;
}

#scoreId {
	font-size: 20em;
}

#scoreLeftId {
}

#scoreSeparatorId {
}

#scoreRightId {
}

#timeId {
	font-size: 8em;
}

#minutesId {
}

#timeSeparatorId {
}

#secondsId {
}

#overtimeSymbol{
	display: inline-block;
}

#overtimeId {
	font-size: 6em;
	display: none;
}

#overtimeMinutesId {
}

#overtimeSecondsId {
}

#matchTypeId {
	position: absolute;
	left: 1vmin;
	bottom: 1vmin;
}

#logId {
	position: absolute;
	right: 1vmin;
	bottom: 1vmin;
	text-align: right;
	font-size: 3em;
}

#commentId {
	position: absolute;
	bottom: 0px;
	left: 40%;
	transform: translate(-100%, 0%);
}

#commentText {
	height: 1.5em;
	font-size: 4em;
	width: 500px;
}

#imageUploadId, #imageId{
	display: none;
}

#imageShowId{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}


@media screen and (max-width: 900px) {
	#scoreId {
		font-size: 16em;
	}

}
